<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @logfile.present? %>
      <%= "#{@logfile.filename} ##{@page}" %> -
    <% end %>
    Peephole
  </title>
  <%= stylesheet_link_tag    "peephole/application", media: "all" %>
  <%= javascript_include_tag "peephole/application" %>
  <%= csrf_meta_tags %>
</head>
<body id="peephole">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Peephole', :root, class: 'navbar-brand' %>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= yield %>

  <footer>
    <p>
      <a href="https://github.com/tnantoka/peephole" target="_blank" class="text-muted">
        Peephole
        <%= Peephole::VERSION %>
      </a>
    </p>
  </footer>
</div>

</body>
</html>
