<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<table class="table">
  <tbody>
    <% @logfiles.each do |logfile| %>
      <tr>
        <td><%= link_to logfile.filename, logfile_path(logfile) %></td>
        <td><%= logfile.size %> KB</td>
        <td><%= logfile.updated_at %></td>
        <td class="text-right">
          <div class="btn-group btn-group-sm">
            <%= link_to 'Raw', raw_logfile_path(logfile), class: 'btn btn-default' %>
            <%= link_to 'Download', download_logfile_path(logfile), class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

