<%= render 'breadcrumb', type: :line %>
<%= render 'pager' %>

<table class="table table-bordered">
  <% if @loglines.present? %>
    <thead>
      <tr>
        <td>#num</td>
        <td>
          started_at<br>
          <span class="text-muted">uuid</span>
        </td>
        <td>
          method <code>target</code>
        </td>
        <td>status</td>
        <td colspan="2">params</td>
      </tr>
    </thead>
    <% @loglines.each do |logline| %>
      <% logline.params.each_with_index do |(key, value), i| %>
        <tr>
          <% if i.zero? %>
            <% rowspan = logline.params.size %>
            <td rowspan="<%= rowspan %>">
              #<%= logline.num %>
            </td>
            <td rowspan="<%= rowspan %>" class="text-break">
              <%= logline.started_at %><br>
              <span class="text-muted"><%= logline.uuid %></span>
            </td>
            <td rowspan="<%= rowspan %>" class="text-break">
              <%= logline.method %>
              <code><%= logline.target %></code>
            </td>
            <td rowspan="<%= rowspan %>"><%= status_label(logline.status) %></td>
          <% end %>
          <td><%= key %></td>
          <td>
            <pre><%= value %></pre>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <div class="well">No logline found.</div>
  <% end %>
</table>

<%= render 'pager' %>
